<!doctype html>
<html lang='pt-BR'>

<head>
    <meta charset="UTF-8">
    <title>O que eu mais gosto em São Paulo</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <script src="prefixfree.min.js"></script>
</head>

<body>
    <div class="container">
        <h1><a href="#">O que eu mais gosto no Rio de Janeiro</a></h1>

        <article>
            <h2> Lapa</h2>
            <img src="/images/lapa.jpg" alt="O Bairro boêmio do Rio de Janeiro">
            <p>
                A Lapa é um bairro boêmio e vibrante, conhecido por seus bares tradicionais, casas noturnas com música ao vivo, salões de dança e rodas de samba ao ar livre abaixo dos Arcos da Lapa, um aqueduto em estilo romano
                <a href='https://twitter.com' target='_blank'>Twitter</a>?
            </p>
            <p>
                utra concentração de vida noturna é a área em torno da Escadaria Selarón, uma obra arquitetônica única adornada por mosaicos de azulejos pintados à mão. Durante o dia, os apaixonados por design circulam pelas lojas vintage e de antiguidades das Ruas do
                Lavradio e do Senado.
            </p>
        </article>
        <article>
            <h2>Praia de Copacabana</h2>
            <img src="/images/copacabana.jpg" alt="A praia mas badala do Rio de Janeiro">
            <p>
                Famosa pela praia em forma de meia-lua, Copacabana é um dos bairros mais animados do Rio. Ela atrai moradores e turistas para atividades ininterruptas nas suas areias e no calçadão desenhado.

            </p>
            <p>
                Entre os arranha-céus com vista para a praia, estão o hotel Copacabana Palace em estilo art déco e o exuberante Forte de Copacabana, que abriga um museu militar. Mais para dentro do bairro, cafés descontraídos e bares casuais enchem as ruas sossegadas.
                <a href='https://goo.gl/maps/koVQAQwRKgt4RHHd9' target='_blank'>mapa</a>
            </p>
        </article>
        <article>
            <h2>Morro da Urca</h2>
            <img src="/images/urca.jpg" alt="Morro e praia da Urca">
            <p>
                Situada em um promontório com vista para a Baía de Guanabara, a rica Urca é dominada pela corcunda icônica do Pão de Açúcar, cujo cume pode ser alcançado por trilhas de escalada ou teleférico.
                <a href='https://goo.gl/maps/ZvPEKoGLrL6qUUpe9' target='_blank'>mapa</a>
            </p>
            <p>
                Escondidas em meio a ruas residenciais tranquilas de casas e prédios charmosos estão as pequenas Praia da Urca e Praia Vermelha. Durante o happy hour e nos finais de semana, bares descontraídos à beira-mar se tornam pontos de encontro animados para os
                jovens da região.
            </p>
        </article>
    </div>
    <section>
        <aside>
            <h3>E existem muitos outros lugares interessantes na cidade...</h3>
            <ol>
                <li>A Feira de São Cristovão.</li>
                <li>A Sala Cecília Meireles.</li>
                <li>Os estádios do Maracanã</li>
                <li>Diveros museus.</li>
                <li>E mais!</li>
            </ol>
        </aside>
    </section>
    <footer>
        <p>Parte do livro "HTML e CSS3: Domine a web do futuro."</p>
    </footer>

    <script src="jquery.min.js"></script>
</body>

</html>