div {
    height: 100px;
    margin: 40px auto;
    width: 400px;
}

.button {
    background-color: #999999;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}

.primary-button {
    background-color: #389739;
}

.big-button {
    font-size: 1.1em;
}

.small-button {
    font-size: 0.9em;
}


/* input {
    border: 1px solid #999;
    box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.25) inset;
    padding: 2px 5px;
} */

input {
    border-color: #35861B;
    box-shadow: 0 0 5px #35861B, 2px, 2px, 2px, rgba(0, 0, 0, 0.25) inset;
    outline: none;
}