h1 {
    background-color: #1D9AC0;
    color: #FFF;
    padding: 10px;
    text-shadow: 2px, 4px, 2px, rgba(0, 0, 0, 0.3);
}

.nav {
    background-color: #B9522D;
    height: 30px;
    list-style: none;
    padding: 0;
    width: 210px;
}

.nav li {
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
}

.nav a {
    color: white;
}

.nav .current {
    background-color: #a64a28;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}